html {
    background-color: lightgray;
    /* background-color: darkslategrey; */
    /* background-color: #0D1117; */
    /* background-color: lightpink; */
    /* background-color: lightblue; */
    /* background-color: lightslategray;  */
    font-size: 24px;
}

.container {
    padding: 3vh 20vw 0 12vw;
    /* margin-top: 5vh; */
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

.title-main {
    font-family: Helvetica;
    font-size: 2.5rem;
    background-color: black; 
    color: lightgrey;
    padding: 0 7px 0 7px;
    margin-bottom: 3vh;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 1.4rem;
    font-weight: bold;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 1rem;
    /* border-bottom: 0.5px solid black; */
    /* width: 70vw; */
}

.text-styling {
    background-color: black;
    /* background-color: maroon; */
    /* background-color: #0D1117;
    background-color: darkred; */
    color: lightgrey;
    padding: 0 5px 0 5px;
}

.text-styling-2 {
    background-color: maroon;
    /* background-color: black; */
    /* background-color: #0D1117;
    background-color: darkred; */
    color: lightgrey;
    padding: 0 5px 0 5px;
}